<div *ngIf="isShowDialog||product" class="ui dimmer modals page transition visible active">
  <div class="ui modal transition visible active" id="shared-product-form">
    <div class="header">{{ title }}</div>
    <div class="content">
      <form class="ui form" [formGroup]="formGroup" (ngSubmit)="onSave()">
        <div class="field required">
          <label>Name</label>
          <input type="text" formControlName="name"/>
        </div>
        <div class="field required">
          <label>Barcode</label>
          <input type="text" maxlength="13" formControlName="barcode"/>
        </div>
        <div class="field required">
          <label>Price</label>
          <input type="number" formControlName="price" step="0.1"/>
        </div>
        <div class="field required">
          <label>Rating</label>
          <input type="number" formControlName="rating" min="1" max="5" step="0.1"/>
        </div>
        <div formArrayName="image">
          <div *ngFor="let image of imageArray.controls; let i = index">
            <label>Image URL</label>
            <input [formControlName]="i"/>
          </div>
        </div>
        <div formArrayName="tags">
          <div *ngFor="let tag of tagsArray.controls; let i = index">
            <label>Tag</label>
            <input [formControlName]="i"/>
          </div>
        </div>
        <div class="actions">
          <button type="button" class="ui button" (click)="onCancel()">Cancel</button>
          <button type="submit" class="ui button positive" [disabled]="!isFormValid()">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
